html {
	min-height: 100%;
	background: #ccc;
	display: flex;
	flex-direction: column;
}

body {
	background: #CCF;
	margin: 0;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	flex: auto;
}

header {
	width: 100%;
	max-width: 960px;
	min-width: 430px;
	margin: 0 auto 0px;
	padding: 10px 0 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
}

#main {
	width: 100%;
	max-width: 960px;
	min-width: 430px;
	margin:auto;
	flex-grow: 1;
	box-sizing: border-box;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

footer {
	background: #AAF;
	width: 100%;
	max-width: 960px;
	min-width: 430px;
	margin: auto;
	padding: 5px;
	box-sizing: border-box;
}

nav {
	flex-grow: 1;
	/*max-width: 240px;
	min-width: 107px;*/
	padding: 20px 10px;
}

#content {
	max-width: 480px;
	min-width: 215px;
	display: block;
	flex-grow: 2;
}

#history {
	/*max-width: 240px;*/
	min-width: 107px;
	flex-grow: 1;
	padding: 20px 10px;
}

h1 {
	margin: 0px;
}

p {
	margin: 0px;
}
