@charset="utf-8";

html {
	display: flex;
	min-height: 100%
	flex-direction: column;
}

body {
	width: 100%;
	display: flex;
	flex-direction: column;
}

ul.dropdown li {
	position: relative;
}

ul.dropdown {
	position: absolute;
	left: -9999px;
}

ul.dropdown:hover {
	display: block;
	left: 0;
}
