html {
	width: 100%;
	min-height: 100%;
  display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

body {
	max-width: 960px;
	margin: 0 auto;
	width: 100%;
	flex: auto;
	display: flex;
	display: -webkit-flex;
	background: #ccc;
	flex-flow: column nowrap;
	font-family: sans-serif;
}

header {
	/*width: 100%;*/
	margin: 0 5px 10px;
	padding: 30px 0px;
}

.main {
	width: 100%;
	flex-grow: 1;
	box-sizing: border-box;
}

footer {
	background: #222;
	color: white;
	width: 100%;
}

.logo-link {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.logo {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #222;
	margin: 5px;
}

.logo_name {
	width: 80px;
	height: 30px;
	background: #222;
}

a {
 text-decoration: underline;
 color: #1194c4;
}

a:hover {
	text-decoration: none;
}

footer div {
	padding: 15px;
}
