<!DOCTYPE html>
<html>
	<head>
		<title>Template ONE</title>
		<link rel="stylesheet" href="one.css">
	</head>
	<body>
		<div class="down-footer">
			<header>
				<a class="logo" href="#"><img src=""></a>
				<div class="main-caption">Хочешь научиться программировать?</div>
				<div class="main-text">Тогда успей записаться на онлайн курс по обучению программированию</div>
				<button>Запишись на курс</button>
			</header>
			<main>
				main
			</main>
		</div>
		<footer>
			<div>&copy; 2016 MySite</div>
		</footer>
	</body>
</html>