<!DOCTYPE html>
<html>
	<head>
		<title>Template ONE</title>
		<link rel="stylesheet" href="one.css">
	</head>
	<body>
		<div class="down-footer">
			<header>
				<a class="logo" href="http://onlineprogrammer.ru">OnlineProgrammer.ru</a>
				<div class="main-caption">Хочешь научиться программировать?</div>
				<div class="main-text">Успей записаться на онлайн курс по обучению программированию</div>
				<button>Запишись на курс</button>
			</header>
			<main>
				<div id="booking">
					<form action="#">
						<div>Ваше имя:</div>
						<input type="text">
						<div>Контактный телефон:</div>
						<input type="text">
						<input type="submit" value="Записаться">
					</form>
				</div>
			</main>
		</div>
		<footer>
			<div>&copy; OnlineProgrammer.ru 2016</div>
		</footer>
	</body>
</html>