@charset="utf-8";

html {
	font-family: sans-serif;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
}

body {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	align-content: flex-start;
	margin: 0px;
}

.first {
	flex-grow: 2;
	background: #222;
	display: block;
	max-width: 650px;
	max-height: 650px;
	color: white;
	height: 100%;
	width: 100%;
	margin: 10px 5px 10px 10px;
	min-height: 430px;
}

.conteiner {
	flex-grow: 1;
	margin: 10px;
	display: flex;
	display: -webkit-flex;
	flex-wrap: column wrap;
	align-content: space-between;
}

.second {
	background: #222;
	color: white;
	height: 215px;
	width: 215px;
	margin: 0 5px;
}

.tree {
	background: #222;
	color: white;
	width: 215px;
	height: 215px;
}
