<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Template #3</title>
	</head>
	<body>
		<header>
			<div class="logo"><a href="/"></a></div>
			<div class="one">1</div>
			<div class="two">2</div>
			<div class="three">3</div>
		</header>
		<div class="text_one"></div>
		<div class="text_two"></div>
		<div class="cols">
			<div class="col1">
				<div class="img"></div>
				<div class="text"></div>
			</div>
			<div class="col1">
				<div class="img"></div>
				<div class="text"></div>
			</div>
			<div class="col1">
				<div class="img"></div>
				<div class="text"></div>
			</div>
			<div class="col1">
				<div class="img"></div>
				<div class="text"></div>
			</div>
		</div>
	</body>
</html>
